<span th:if="${oidc != null}">
<h3>@AuthenticationPrincipal: [[${name}]] of type OIDC</h3>

  	<table>
  	<tr>
  		<th><a href="https://openid.net/specs/openid-connect-core-1_0.html#IDToken">Mandatory Claims</a></th>
  		<th>&nbsp;</th>
  	</tr>
  	<tr th:each="key : ${id_required_fields}">
      <td>[[${key}]]</td>
      <td>[[${oidc.getClaim(key)}]]</td>
    </tr>
    </table>
    
   <p>Below is the raw ID token, there are other claims embedded in this ID token JWT (that overlap what is available in the Access Token).
   </p>  
   <p>[[${oidc.getIdToken().getTokenValue()}]]</p>
  
</span>